{% extends 'base.html.twig' %}

{% block title %}Edit Roles{% endblock %}

{% block body %}

{{form_start(form)}}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Modifier Roles</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{form_label(form.roles)}}
                {{form_widget(form.roles)}}
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-success">Changer les roles</button>
            </div>
        </div>
    </div>
{{form_end(form)}}

{% endblock %}